section(data-transition="slide" data-background="rgba(234, 230, 219, 0.7)")
  ul
    li Presentations
    li Digital Media
    li Filming & Video Production
    li Photo Editing & Photography
    li Computer Generated Imagery & Graphics
