section(data-transition="slide" data-background="rgba(234, 230, 219, 0.7)")
  ul
    li Web Design & Development
    li Micro-sites
    li Portals
    li Mobile Applications
    li Interactive pdf
    li Interactive sales tools
