section(data-transition="slide" data-background="rgba(234, 230, 219, 0.7)")
  p We believe this is a promise that only The Creative Lab can deliver to the bid world, meaning a truly unique service to your clients.
