section(data-transition="slide" data-background="images/ideas-dept-3.jpg" data-background-transition="none")
  ul
    li Build theme
    li Build concepts
    li Create art-work for bid
    li Create bid brand guidelines
