section(data-transition="slide" data-background="images/ideas-dept-4.jpg" data-background-transition="none")
  ul
    li Build & plan campaign & deliverables
    li Creative storyboarding
    li Brief “Mobile” Team
    li Brief “Complex” Team
    li Creative direction & sign off
