section(data-transition="slide" data-background="images/ideas-dept-3.jpg" data-background-transition="none")
  ul
    li Discovery Workshop
    li Understand company, customer, <br>product & proposition
    li Pull USP’s, WT’s, Real differences
    li Brainstorm