section(data-transition="slide" data-background="rgba(255,255,255,0.8)")
  p At the heart of the Ideas Dept. is our fundamental belief in the power of creativity: brilliant ideas solving real business challenges for our clients through world class work.
