section(data-transition="slide" data-background="images/ideas-dept-2.jpg" data-background-transition="none")
  p At the heart of the Ideas Dept. is our fundamental <br>belief in the power of creativity: brilliant ideas<br> solving real business challenges for our clients<br> through world class work.
