section(data-transition="slide" data-background="/images/ideas-dept-2.jpg" data-background-transition="none")
  p Our focus is to create work people care about. <br>In a digital age people avoid what they don’t like <br>and amplify what they do. So our aim is to create engagement in whatever form it takes.
