section(data-transition="slide" data-background="rgba(255,255,255,0.8)")
  p Our focus is to create work people care about. In a digital age people avoid what they don’t like and amplify what they do. So our aim is to create engagement in whatever form it takes.
