section
  h2 Additional Content
  table
    thead
      tr
        th: Item
        th: Value
        th: Quantity
    tbody
      tr
        td Apples
        td £1
        td 7
      tr
        td Lemonade
        td £2
        td 12
      tr
        td Bread Rolls
        td £1.80
        td 33
