section(data-transition="slide" data-background="rgba(255,255,255,0.8)")
  ul
    li Training & development
    ul
      li Fully trained for this market
      li Clearly defined process (no deviation)
      li Software & project management
    li On-going training & support
