section(data-transition="slide" data-background="rgba(255,255,255,0.8)")
  ul
    li Network of art workers
    li Vetted -
    ul
      li right skill sets
      li professional
      li good communication skills
      li good track record
      li strong portfolio
