section(data-transition="slide" data-background="rgba(255,255,255,0.8)")
  h2 Resource
  ul
    li Network of disciplines
    li Vetted
    li Right skill sets
    li Professional
    li Good communication skills
    li Good track record
    li Strong portfolio
