section(data-transition="fade" data-background="rgba(255,255,255,0.8)")
  h3 Integrated Software Platform:
  ul
    li Template and widget based functionality
    li Underpinned by world-class data centre
    li Internet caching for faster delivery
