section(data-transition="slide" data-background="rgba(255,255,255,0.8)")
  p Behind the airy fairy, blue sky thinking, tight trousered, funny hat wearing laid back creatives are the suits.
  p TCL is supported by a senior leadership team that understand the complexities of bidding and the importance of well managed projects, timelines, budgets, account management, customer service...
