section(data-transition="fade" data-background="rgba(255,255,255,0.8)")
  h2 Providing
  ul
    li Third-party management & engagement
    li Head count, role facilitation, geography & skill-sets
    li Flexible resource management
    li Security clearance (where required)
    li Dedicated account management
    li One point of contact
    li Clear escalation channels
    li One supplier, One invoice, improved efficiency
