section(data-transition="slide=" data-background="rgba(255,255,255,0.8)")
  h3 Single gateway for all client artwork:
  ul
    li Brand consistency
    li Audit trail through all stages
    li Version control
    li Overflow management
    li Reduce proofing time
    li Cost control
