extends layout

block content
  .category-item.green: .tile One
  .category-item.blue: .tile Two 
  .category-item.pink: .tile Three
  .category-item.yellow: .tile Four
  .category-item.purple: .tile Five
  .category-item.green: .tile Five
  .category-item.pink: .tile Five
  .category-item.yellow: .tile Five
  .category-item.blue: .tile Five
  .category-item.pink: .tile Five
  .category-item.purple: .tile Five
