extends layout

block content
  .reveal
    .slides
      section(data-state="home" data-background="/images/home-background.jpg" )
        include slides/home/index
      
      section(data-background="/images/the-management-suite.jpg" data-state="the-management-suite" ) 
        include slides/the-management-suite/title
        include slides/the-management-suite/question
        include slides/the-management-suite/answer
        include slides/the-management-suite/introduction-1
        include slides/the-management-suite/introduction-2
        //include slides/the-management-suite/management-tools
        include slides/the-management-suite/support-functions
        //include slides/the-management-suite/additional-services
        include slides/the-management-suite/providing
        include slides/the-management-suite/technology-benefits-subtitle
        //include slides/the-management-suite/integrated-software-platform
        //include slides/the-management-suite/implementation-services
        //include slides/the-management-suite/brand-management-software-image
        //include slides/the-management-suite/single-gateway
        //include slides/the-management-suite/client-gateway-image
        include slides/the-management-suite/bullets-1
        include slides/the-management-suite/bullets-2
        include slides/the-management-suite/bullets-3

      section(data-background="/images/the-ideas-dept.jpg" data-state="the-ideas-dept" )
        include slides/the-ideas-dept/title
        include slides/the-ideas-dept/big-ideas-subtitle
        include slides/the-ideas-dept/one
        include slides/the-ideas-dept/two
        include slides/the-ideas-dept/bullets-1
        include slides/the-ideas-dept/bullets-2
        include slides/the-ideas-dept/bullets-3

      section(data-background="/images/the-innovation-hub-ahh.jpg" data-state="the-innovation-hub" )
        include slides/the-innovation-hub/title
        include slides/the-innovation-hub/overview-subtitle
        include slides/the-innovation-hub/one
        include slides/the-innovation-hub/two
        include slides/the-innovation-hub/three
        include slides/the-innovation-hub/bullets-1
        include slides/the-innovation-hub/bullets-2

      section(data-background="/images/warehouse-floor-background.jpg" data-state="the-factory-floor" )
        include slides/the-factory-floor/closed-doors
        include slides/the-factory-floor/open-doors
        include slides/the-factory-floor/overview-subtitle
        include slides/the-factory-floor/one
        include slides/the-factory-floor/two
        include slides/the-factory-floor/open-doors-end
        include slides/the-factory-floor/closed-doors

      section(data-background="#222" data-state="showreel" )
        include slides/showreel/video
