@import 'nib'
@import 'reveal.css'
@import 'reveal.theme.black.css'

// Colours
background-colour = #444
pink = #fd02b5
blue = #5ecef2

html
  height 100%

body
  padding margin 
  background background-colour
  color white
  font-size 0.6em

.reveal
  p, ul, ol, body, table
    font-weight 200 !important
    font-family "jubilat" !important
    font-size 0.6em
    line-height 1.5
  .slides
    text-align left
  .slide-background
    background-position bottom center !important

h1,h2
  font-family "jubilat", Helvetica, Arial, sans-serif !important
  font-weight 900 !important
  text-transform capitalize !important

h1
  font-size 1.4em !important

h2
  font-size 0.8em !important

a 
  color #fff
  transition color .2s linear
  &:hover
    color #eee

section.main
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26) inset
  
@require '_slide_nav'
@require '_home'
@require '_doors'

.the-management-suite
.the-factory-floor
.the-creative-lab
.the-innovation-hub
.the-ideas-dept
  h1, h2, p, ul, ol, table
    color black

