.neon-container
  a.neon.creative-lab-sign(href="/#/2")
  a.neon.factory-floor-sign(href="/#/5")
  a.neon.ideas-dept-sign(href="/#/3")
  a.neon.innovation-hub-sign(href="/#/4")
  a.neon.management-suite-sign(href="/#/1")
