.neon-container
  span.neon.creative-lab-sign
  a.neon.factory-floor-sign(href="/#/4" title="The Factory Floor")
  a.neon.ideas-dept-sign(href="/#/2" title="The Ideas Dept.")
  a.neon.innovation-hub-sign(href="/#/3" title="The Innovation Hub")
  a.neon.management-suite-sign(href="/#/1" title="The Management Suite")
  a.neon.film(href="/#/5" title="Showreel")
  a.neon.game(href="/#/6" title="Game")
