section(data-transition="slide" data-background="rgba(234, 230, 219, 0.7)")
  p We work on everything from planning to delivery. Our teams live and breathe the bid brand and execute all projects to the highest standards. They are supported by centralised resources through the Innovation Hub, as and when required.
